<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/Theme.Spendsmart_soen357_app"
        tools:targetApi="31">
        <activity android:name=".MainActivity" />
<!--        <activity android:name=".ui.budget.AddBudgetActivity" />-->

        <activity
            android:name=".ui.budget.AddBudgetActivity"
            android:parentActivityName=".ui.budget.BudgetFragment">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.budget.BudgetFragment"/>
        </activity>

        <activity android:name=".ui.more.AboutActivity" />

        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>